html,  body, div, span, applet, object, h1, h2, h3, h4, h5, h6, iframe,
blockquote, pre, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
dd, dl, dt, fieldset, form, label, legend, table, caption, tbody, tfoot,
thead, tr, th, td, input, select, textarea
{margin:0; padding:0;}

body {
    background-color: #efefef;
    font-family: 'PF DinDisplay', 'Trebuchet MS', Arial;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
header {
    -webkit-box-shadow: 2px -4px 30px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px -4px 30px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 2px -4px 30px 0px rgba(0, 0, 0, 0.75);
    width: 100%;
    height: 50px;
    background: white;
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
}
.content {
    flex: 1;
    min-height: 800px;
}
footer {
    flex: 0 0 auto;
    width: 100%;
    height: 60px;
    background: white;
    border-bottom: 10px solid #5b5b5b;
    -webkit-box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.75);
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
a {
    transition: all .15s ease-in-out;
    outline: none;
    color: gray;
}
a:hover {
    color: gray;
    text-decoration: none;
}

/*--Droplist---*/
#drop-list ul {
    background-color: #f5f5f5;
    visibility: hidden;
    position: absolute;
    padding: 10px 0;
    margin: 0;
    opacity: 0;
}
#drop-list:hover > ul {
    visibility: visible;
    position: absolute;
    opacity: 1;
    transition: all .15s;
}
#drop-list ul a:hover {
    background-color: white;
}
#active a, #drop-list:hover > a {
    background-color: #f5f5f5;
}
/*---End of Droplist---*/

/*---Left Menu--*/
.left-menu a {
    display: block;
    padding: 15px;
}
.left-menu li {
    position: relative;
    float: left;
}
.left-menu ul a {
    min-width: 180px;
    display: block;
    padding: 9px 15px;
    font-weight: 500;
    line-height: 25px;
    font-size: 20px;
}
.left-menu ul a:hover {
    background-color: white;
    transition: all .15s;
}

.logo a {
    font-size: 30px;
    font-weight: 600;
    line-height: 30px;
    padding: 10px;
}
.logo a:hover {
    color: gray;
}
.gallery a:hover {
    color: #30c2f2;
}
.new a:hover {
    color: #83bf0a;
}
.idea a:hover {
    color: #00c0b5;
}
.other a:hover {
    color: #ff860d;
}
/*---End of Left Menu--*/

/*---Right Menu---*/
.top-right-menu {
    float: right;
}
.top-right-menu a {
    display: block;
    padding: 15px;
    font-weight: 300;
    line-height: 20px;
    font-size: 16px;
}
.top-right-menu li {
    position: relative;
    float: left;
}
.top-right-menu li:hover {
    background-color: #f5f5f5;
    transition: all .15s;
}
.top-right-menu li ul {
    right: 0;
    top: 50px;
}
.top-right-menu ul a {
    min-width: 170px;
    padding: 8px 0 8px 50px;
}
.top-right-menu ul a:hover {
    color: #ff860d;
}

.search {
    background: url(../img/sla/search.png) 100% 100% no-repeat;
}
.search:hover {
    background: url(../img/sla/searchh.png) 100% 100% no-repeat;
}
.lang {
    background: url(../img/sla/lang.png) 100% 100% no-repeat;
}
.lang:hover {
    background: url(../img/sla/langh.png) 100% 100% no-repeat;
}
.signin {
    background: url(../img/sla/acc.png) 100% 100% no-repeat;
}
.signin:hover {
    background: url(../img/sla/acch.png) 100% 100% no-repeat;
}
.top-active-icons {
    height: 50px;
    width: 62px;
    background-position: center;
}
.top-active-icons:hover {
    background-position: center;
}
.fl img {
    position: absolute;
    left: 15px;
    top: 6px;
}
/*---End of Right Menu---*/

/*---Footer---*/
.footer a{
    color: #9e9e9e;
}
.footer a:hover {
    color: gray;
}
.logo-f a {
    color: gray;
}
.social-nets {
    float: right;
}
.social-nets li {
    float: left;
}
.yt {
    background: url(../img/sn/yt.png) 100% 100% no-repeat;
}
.yt:hover {
    background: url(../img/sn/yth.png) 100% 100% no-repeat;
}
.tw {
    background: url(../img/sn/tw.png) 100% 100% no-repeat;
}
.tw:hover {
    background: url(../img/sn/twh.png) 100% 100% no-repeat;
}
/*.ln {
    background: url(../img/sn/ln.png) 100% 100% no-repeat;
}
.ln:hover {
    background: url(../img/sn/lnh.png) 100% 100% no-repeat;
}*/
.in {
    background: url(../img/sn/in.png) 100% 100% no-repeat;
}
.in:hover {
    background: url(../img/sn/inh.png) 100% 100% no-repeat;
}
.fb {
    background: url(../img/sn/fb.png) 100% 100% no-repeat;
}
.fb:hover {
    background: url(../img/sn/fbh.png) 100% 100% no-repeat;
}
.bt-active-icons {
    height: 50px;
    width: 45px;
    background-position: center;
    transition: all .25s;
}
.bt-active-icons:hover {
    background-position: center;
}
/*---End of Footer---*/